@model Users;
@{
    ViewBag.Title = "FODUN - Login";
    ViewBag.css = "login.css";
}

<div class="login d-flex justify-content-evenly align-items-center">
    <div class="banner">
        <img src="~/img/bannerLogin.jpg" alt="Banner FODUN">
    </div>

    <div class="form d-flex flex-column gap-2 mx-5">
        <div class="title bg-black bg-opacity-10 rounded">
            <p>Ingreso Sistema de Reservas</p>
        </div>

        <p class="text-center">Digite su Clave a través del teclado dinámico que <br> se encuentra en la pantalla</p>

        <form class="d-flex gap-3" asp-controller="Auth" asp-action="Login" method="post">
            <div class="form-left d-flex flex-column align-items-end">
                <label>
                    Nro. Documento:
                    <input type="number" asp-for="Document">
                </label>

                <label class="mt-2">
                    Clave:
                    <input type="text" asp-for="Password">
                </label>

                <button class="btn btn-sm btn-danger mt-2">Aceptar</button>
                <a href="">¿Olvidó su clave?</a>
            </div>

            <div class="form-right d-flex flex-column">
                <div class="numbers d-flex flex-wrap gap-1">
                    <p class="btn btn-sm btn-danger">1</p>
                    <p class="btn btn-sm btn-danger">2</p>
                    <p class="btn btn-sm btn-danger">3</p>
                    <p class="btn btn-sm btn-danger">4</p>
                    <p class="btn btn-sm btn-danger">5</p>
                    <p class="btn btn-sm btn-danger">6</p>
                    <p class="btn btn-sm btn-danger">7</p>
                    <p class="btn btn-sm btn-danger">8</p>
                    <p class="btn btn-sm btn-danger">9</p>
                    <p class="btn btn-sm btn-danger">0</p>
                    
                    <p class="btn btn-sm btn-danger">Limpiar</p>
                </div>

                <div class="contrast w-100 d-flex flex-column align-items-center mt-1">
                    <p class="fw-bold">Contraste</p>

                    <div class="btns">
                        <p class="btn btn-sm btn-danger"></p>
                        <p class="btn btn-sm btn-danger"></p>
                        <p class="btn btn-sm btn-danger"></p>
                    </div>
                </div>
            </div>
        </form>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="error-message alert alert-danger py-1 my-1" role="alert">
                <p>@TempData["ErrorMessage"]</p>
            </div>
        }

        <a asp-action="Register" class="register mt-2">
            <img height="84px" width="297px" src="~/img/bannerRegister.png" alt="Banner Register">
        </a>
    </div>
</div>