.title {
    color: #a01c27;
    padding-left: 150px;
}

.main {
    margin: 0px 150px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a01c27;
    color: #fff !important;
    width: fit-content;
    padding: 0px 30px;
    height: 30px;
}

#sites {
    cursor: pointer;
}

.main-content {
    border-top: 4px solid #a01c27;
}

#siteDetail {
    display: none;
}

/* Details */
.date, .info {
    input[type="text"], input[type="number"], input[type="date"] {
        height: 25px;
    }
}

.details-subtitle {
    color: #a01c27;
    font-weight: bold;
}

.site-info {
    width: 300px;
    height: 60dvh;
    overflow-y: scroll;
    text-wrap: pretty;
}

.modal-header {
    button {
        background-size: 15px 15px;
    }
}

.info {
    .details-subtitle {
        border-bottom: 1.5px solid #a01c27;
        padding-bottom: 1px;
    }
}

.check {
    border-radius: 20px;
    border: 1px solid #00000083;
}

.modal-details, .modal-total {
    .fw-bold {
        margin-bottom: 15px;
    }
}

.details-svg svg {
    cursor: pointer;
}

.details-svg svg:hover path {
    fill: #000;
}