.title {
    color: #a01c27;
    padding-left: 150px;
}

.main {
    margin: 0px 150px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a01c27;
    color: #fff !important;
    width: fit-content;
    padding: 0px 30px;
    height: 30px;
}

#sites {
    cursor: pointer;
}

.main-content {
    border-top: 4px solid #a01c27;
}

#siteDetail {
    display: none;
}