.title {
    color: #a01c27;
    padding-left: 150px;
}

.main {
    margin: 0px 150px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a01c27;
    color: #fff !important;
    width: fit-content;
    padding: 0px 30px;
    height: 30px;
}

#sites {
    cursor: pointer;
}

.main-content {
    border-top: 4px solid #a01c27;
}

#siteDetail {
    display: none;
}

/* Details */
.date {
    input[type="text"], input[type="number"], input[type="date"] {
        height: 25px;
    }
}

.details-subtitle {
    color: #a01c27;
    font-weight: bold;
}

.site-info {
    width: 300px;
    height: 60dvh;
    overflow-y: scroll;
}