nav a {
    margin-top: 1px;
    margin-bottom: 1px;
}

nav a:hover {
    background-color: #fff;
}

nav {
    padding-left: 150px;
    padding-right: 150px;
}

footer {
    background-color: #be2e38;
}