.title {
    color: #a01c27;
    padding-left: 150px;
}

.main {
    margin: 0px 150px;
}

.main-title {
    background-color: #a01c27;
    width: fit-content;
    padding: 0px 30px;
    height: 30px;
}

.main-content {
    border-top: 4px solid #a01c27;
}